/scratch/
/docs/build/
/qfit/.idea/
/.idea/inspectionProfiles/Project_Default.xml
/.idea/qfit.iml
/.idea/vcs.xml
/.idea/workspace.xml
/qfit/.ipynb_checkpoints/
/qfit.egg-info/

# Danyang's unwanted files
.DS_Store
*.pyc
/danyang_tests
resources/resources_rc.py
qfit.egg-info
qfit/controllers/test.ipynb
test.ipynb
qfit/controllers/.jupyter_ystore.db
qfit/controllers/.ipynb_checkpoints/test-checkpoint.ipynb
build
dist/qfit-0.1.0-py3.9.egg
dist/qfit-0.1.0-py3.11.egg
example_data/test.qfit
