*.pyc
**/.idea
**/.ipynb_checkpoints/
/qfit.egg-info/
/qfit/version.py
resources/resources_rc.py
dist
build
qfit.egg-info

# Danyang's unwanted files
.DS_Store
/danyang_tests
qfit.code-workspace

# Tianpu's unwanted files
example_data/test.qfit
gif_raw_source/.$calibration.drawio.bkp
gif_raw_source/.$calibration.drawio.dtmp
gif_raw_source/calibration_1.mp4
gif_raw_source/calibration_gif.drp
gif_raw_source/calibration_mp4.mp4
gif_raw_source/calibration_raw.mov
gif_raw_source/calibration.drawio
gif_raw_source/calibration.svg
gif_raw_source/.$calibration_new.drawio.bkp
gif_raw_source/calibration_new.drawio
gif_raw_source/.$calibration_new.drawio.dtmp
qfit_test.zip
media_raw_source/.$calibration_new.drawio.bkp
media_raw_source/.$calibration_notebook_ver.drawio.bkp
media_raw_source/.$calibration_with_step_notebook_ver.drawio.bkp
media_raw_source/.$calibration_with_step_notebook_ver.drawio.dtmp
media_raw_source/.$calibration.drawio.bkp
media_raw_source/calibration_1.mp4
media_raw_source/calibration_gif.drp
media_raw_source/calibration_mp4.mp4
media_raw_source/calibration_notebook_ver.drawio
media_raw_source/calibration_raw.mov
media_raw_source/calibration_with_step_notebook_ver.drawio
media_raw_source/calibration_x1x2y1y2.drawio
media_raw_source/calibration.svg
media_raw_source/Backup_of_tag-question.cdr
media_raw_source/Backup_of_tag.cdr
.gitignore
media_raw_source/tag.cdr
media_raw_source/tag-question.cdr
plot_data.ipynb
.jupyter_ystore.db
media_raw_source/stop.cdr
example_data/spec_scan_v11_transposedspec_scan_v11_transposed.mat
example_data/spec_scan_v11.mat
.github/workflows/test_installation.yml
successful_multiproc.py
