/scratch/
/docs/build/
/qfit/.idea/
/.idea/inspectionProfiles/Project_Default.xml
/.idea/qfit.iml
/.idea/vcs.xml
/.idea/workspace.xml
/qfit/.ipynb_checkpoints/
/qfit.egg-info/

# Danyang's unwanted files
.DS_Store
*.pyc
/danyang_tests
resources/resources_rc.py
qfit.egg-info